<!--レイアウトの呼び出し-->
{% extends "layout.html" %}

<!-- 個別のhtml -->
{% block content %}
<!-- 個別css読み込み -->
<link href="/static/css/help.css" rel="stylesheet" media="screen" />
<nav class="navbar navbar-default">
  <a href="/"><img class="logo" src="\static\picture\logo.png" alt="logo" /></a>
</nav>
<!--コンテナ -->
<div class="container">
  <div class="flame">
    <h3>mercari analyticsとは？</h3>
    <p>メルカリに出品されている商品を分析し、購入率の高い価格設定について調査します。</br>商品を出品する際や、購入する際の参考情報としてご利用ください。</p>
    <h3>使い方</h3>
    <ol>
      <li>分析したい商品の名前を入力します。</li>
      <li>カテゴリを選択します。</li>
      <li>[さらに絞り込む]を押すと商品の状態を絞り込むこともできます。</li>
      <li>OKを押すと分析を開始します。</li>
    </ol>
    <p>カテゴリは任意選択となりますが、設定するとより精度の高い情報を得られます。</p>
  </div>
  {% endblock %}
</div>