<!--レイアウトの呼び出し-->
{% extends "layout.html" %}

<!-- 個別のhtml -->
{% block content %}
<link href="/static/css/index.css" rel="stylesheet" media="screen" />
<!--サイトの中身-->
<a href="/help/">
  <p style="text-align: right"><u>ヘルプ</u></p>
</a>
<div class="input">
  <img class="input-logo" src="static\picture\logo.png" alt="logo" />
  <p class="site-title">メルカリの価格相場分析アプリ</p>
  <form class="form1" action="/search/" method="GET" , id="form1">
    <input id="keyword" class="search-default" type="search" name="keyword" placeholder="商品名" required>
    {% block category %}
    <!-- カテゴリ選択欄 -->
    {% endblock %}
    <a class="submit" align="center" id="OK">OK</a>
  </form>
</div>

<!--スクリプトの呼び出し-->
<script src="/static/js/app.js"></script>
<script>
  window.addEventListener('pageshow', function (event) {
    var historyTraversal =
      event.persisted ||
      (typeof window.performance != 'undefined' &&
        window.performance.navigation.type === 2)
    if (historyTraversal) {
      //Handle page restore.
      $(document).ready(function () {
        $('#category_root').change();
        alert(get_cook('cookie1'));
        $("select").change();
        var selectElements = $('.select-default');
        for (var i = 0; i < selectElements.length; i++) {
          //alert(selectElements);
          $(selectElements[i]).change();
        }
      });
    }
  })
  $(function () {
    $('#OK').click(function () {
      if ($('#keyword').val() == '') {
        alert('商品名を入力してください。')
      } else {
        $('#form1').submit();
      }
    })
  })
</script>
{% endblock %}